02/demos/demo/Customers_Attributes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="CustomerID" use="optional"/>
                <xs:attribute type="xs:string" name="Title" use="optional"/>
                <xs:attribute type="xs:string" name="FirstName" use="optional"/>
                <xs:attribute type="xs:string" name="MiddleName" use="optional"/>
                <xs:attribute type="xs:string" name="LastName" use="optional"/>
                <xs:attribute type="xs:string" name="CompanyName" use="optional"/>
                <xs:attribute type="xs:string" name="SalesPerson" use="optional"/>
                <xs:attribute type="xs:string" name="EmailAddress" use="optional"/>
                <xs:attribute type="xs:string" name="Phone" use="optional"/>
                <xs:attribute type="xs:string" name="Suffix" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>